* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-blue {
  background-color: #9bb3bd;
}

.logo {
  height: 70px;
  width: 70px;
}

.tituloNav {
  font-size: 1.5rem !important;
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.nav-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  padding: 20px;
}

#navbarNav {
  justify-content: right;
}

.body-turnos {
  background-image: url(../assets/bgTurnos.jpg);
  background-size: auto;
}

.card-body {
  box-shadow: 0px 16px 77px -16px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 0px 16px 77px -16px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 16px 77px -16px rgba(0, 0, 0, 0.63);
}

.head {
  background: linear-gradient(
    90deg,
    rgba(104, 117, 121, 1) 0%,
    rgba(86, 98, 102, 1) 30%
  );
  border-radius: 5px;
  margin-top: -40px;
  box-shadow: 0px 16px 77px -16px rgba(155, 119, 119, 0.63);
  -webkit-box-shadow: 0px 16px 77px -16px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 16px 77px -16px rgba(0, 0, 0, 0.63);
}

.card-title {
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
}

.effect-1 {
  border: 0;
  outline: none;
  width: 100%;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 0;
  height: 2px;
  background-color: cadetblue;
  transition: 0.4s;
}

.effect-1:hover ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}
.effect-1:focus ~ .focus-border {
  width: 100%;
  left: 0;
}

.btn1 {
  background-color: rgb(74, 114, 114);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 13px;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 145px;
}
.btn1:hover {
  background-color: cadetblue;
  transition: 0.4s;
}
